* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the wrapper takes the full viewport height */
    align-items: center;
}

header {
    width: 100%;
    background-color: #f0c1af;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers items horizontally */
    justify-content: center; /* Centers items vertically within main */
    padding: 20px;
    text-align: center; /* Centers text inside sections */
    width: 100%;
    max-width: 800px; /* Limit max width for readability */
}

footer {
    width: 100%;
    background-color: #f9e4dc;
    text-align: center;
    padding: 15px 0;
    color: #9c1b1b;
}

/*To get the nav elements to go to full width*/
nav {
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 20px 0;
    width: 100%;
    background-color: #f9e4dc;
}

li {
    flex: 1;
    padding: 0 15px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.paragraph {
    padding: 40px;
}

li:hover {
    background-color: #f27d7d;
    cursor: pointer;
    border-radius: 5px;
}

.header-text {
    font-family: 'Great Vibes', cursive;
    font-size: 4em;
    color: #9c1b1b;
    padding-bottom: 20px;
}

.image-alt {
    font-family: 'Great Vibes', cursive;
    font-size: 2em;
    color: #9c1b1b;
    padding: 20px;
    display: none;
}

img:not([src]) + .image-alt {
    display: inline;
}

a {
    text-decoration: none;
    color: #9c1b1b;
}

.tan-pearl-text {
    font-family: 'Tan Pearl', sans-serif;
}


.auth-button {
    position: absolute;
    margin-top: 10px;
    top: 25px;
    right:20px;

}

.auth-button a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #f27d7d;
    border-radius: 5px;
}

.auth-button a:hover {
    color: #f9e4dc;
}


.spaced-button {
    margin: 10px 0;
    padding: 10px 20px; /* Increase padding for a larger button */
    margin: 10px 0; /* Add vertical spacing */
    font-size: 1em;
    background-color: #f27d7d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.spaced-button:hover {
    background-color: #f9e4dc; /* Optional hover effect */
    color: #9c1b1b;
}



/*Maroon Text color: 9c1b1b*/
/*Salmon Text Highlight Color: f27d7d*/
/*Skin Background Color: f0c1af*/
/*Tan Background Background Color: f9e4dc*/
/*Purple Highlight: ddcce9*/
/*Green Highlight Color: c5d4b7*/