main {
    width: 100vh;
    height: 90%;
    display: flex;
}

.screen {
    width: 100vh;
    height: 90%;
    display: flex;
}

.auth-container {
    width: 80%;
    flex: 1;
    background-color: #f9e4dc;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: fit-content;
}

.auth-container h1 {
    color: #9c1b1b;
    font-size: 2em;
}

.auth-container form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.auth-container label {
    text-align: left;
    color: #9c1b1b;
}

.auth-container input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.auth-container button {
    padding: 10px;
    background-color: #f27d7d;
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-container button:hover {
    background-color: #f0c1af;
    color: #9c1b1b;
}

.auth-container, .auth-container .logo-bottom {
    margin: 10px 0;
}

.labels {
    display: flex;
    flex: 1;
    justify-content: center;
}


label {
    flex: 1;
    font-size: 12px;
}

#email {
    height: 15%;
    max-height: 30px;
}

#password {
    height: 15%;
    max-height: 30px;
}

#loginButton {
    font-size: 12px;
    height: 18%;
    max-height: 40px;
}

p {
    font-size: 12px;
}


img {
    width: 50%;
    height: auto;
}